<nav>
    <div class ="uk-offcanvas-bar uk-panel uk-panel-box">
      <h3 class="uk-panel-title">Resume</h3>
    <ul class="uk-nav uk-nav-offcanvas">
        <li class="uk-nav-header"><a href="hide-on-med-and-down">There is </a></li>
        <li class="uk-nav-divider"><a href="Something">Something</a></li>
        
    
        <li class="uk-active"><a href="#profile.html">Profile</a></li>
        <ul class="uk-nav-sub">
        <li class="uk-active"><a href="#experience.html">Experience</a></li>
        <li class="uk-active"><a href="#education.html">Education</a></li>
    </ul>
  </ul>
  </div>
</ul>
</nav>